/**
 * Light theme variables
 */

:root {
  --base-color: #000;
  --border: dashed 1px rgba(0, 0, 0, 1);
  --selection-background: rgba(0, 0, 0, 0.99);
  --selection-text: #FFF;
  --background-color: #FFF;
  --text-color: var(--base-color);
  --placeholder-color: var(--base-color);
  --link-color: var(--base-color);
  --code-color-1: #2EC933;
  --code-color-2: #E5E245;
  --code-color-3: #F00000;
  --code-color-4: #F0A0A0;
  --code-color-5: #6870F7;
  --code-color-6: #060706;
  --code-color-7: #aa0000;
  --code-color-8: #102CDA;
  --code-color-9: #00aa00;
  --code-color-10: #888888;
  --code-color-11: #555555;
  --code-color-12: #DA31D9;
  --code-color-13: #00aaaa;
  --code-color-14: #009999;
  --code-color-15: #E27BE1;
  --code-color-16: #1e90ff;
  --code-color-17: #E5545A;
  --code-color-18: #DDD942;
}
